* {
	box-sizing: border-box;
	
}
body {
	min-height: 100vh;
	min-width: 100vw;
	overflow-y: scroll;
	overflow-x:hidden;
}

.navbar a {
	color: white !important;
}



.navbar-brand {
	font-family: cursive;
}

footer {
	background: #2c3645; 
	padding-top: 5px;
	color: white;
}

.img-foot img {
	width: 30px;
	height: 30px;
}

.footer-contact input{
  	margin: 8px 0;
  	border: #F96D08;
  	border-radius: 8px;
  	padding: 10px 20px;
  	font-family: serif;
}

.footer-contact input[type=submit]{
	background: #F96D08;
  	border: none;
  	border-radius: 8px;
  	color: white;
  	cursor: pointer;
}


.text-center button {
	margin: 20px;
	border: none;
	border-radius: 5px;
	cursor: default;
	color: white;
	background-color: #F96D08;
	padding: 14px 8px;
}

.index1 {
	margin-top: 5px;
}

.index2-pa {
	margin-top: 20px

}

.index2-pa h3 {
	font-weight: bolder;
	/*text-shadow: 3px 1px #F96D08;*/
	color: white;

}

.index2-pa img{
	margin-top: 18px;
	border: 2px solid white;
	border-radius: 5px;
}

.image-container {
	position: relative;
	width: 100%
}

.image1 {
  display: block;
  width: 100%;
  height: auto;
}

.image2 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F96D08;
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.how-it-works {
	margin-top: 10px;
	margin: 20px;
	border: 2px;
	line-height: 2
	
}

.how-it-works h2{
	padding: 10px
	

}

.how-it-works button{
	margin: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	background-color: #F96D08;
	padding: 14px 8px;	
}

.how-it-works p{
	margin: 10px;
	
}


@media screen and (max-width: 500px) {
body {
	min-height: 100vh;
	min-width: 100vw;
	 
}

.text-center button {
	margin-left: 20px;
	border: none;
	border-radius: 5px;
	cursor: default;
	font-size: 20px;
	color: white;
	background-color: #F96D08;
	padding: 14px 8px;
}

.how-it-works {
	margin-top: 10px;
	margin: 20px;
	border: 2px;
	
}


}